<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>Blogs</title>
</head>
<body>
<div class="container-fluid" style="padding-left: 0px">
    <div class="row">
        <div class="col-2 min-vh-100" style="border: 1px solid black; background-color: #e2e2e2">

            <a class="btn btn-primary btn-lg btn-block" href="#" role="button" style="margin-top: 0.5rem;">Site</a><br>
            <a class="btn btn-primary btn-lg btn-block" href="#" th:href="@{'/dashboard/user/' + ${id}}" role="button"><i class="fas fa-home"></i>Dashboard</a><br>
            <a class="btn btn-primary btn-lg btn-block" href="#" th:href="@{'/dashboard/user/' + ${id} + '/post/show'}" role="button"><i class="far fa-file"></i>Posts</a><br>
            <a class="btn btn-primary btn-lg btn-block" href="#" th:href="@{'/dashboard/user/' + ${id} + '/blog/show'}" role="button"><i class="far fa-file"></i>Blogs</a><br>
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button"><i class="far fa-comments"></i>Comments</a><br>
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button"><i class="far fa-user"></i>Users</a>

        </div>
        <div class="col-10" style="border: 1px solid black;">
            <a class="btn btn-primary btn-lg" href="#" th:href="@{'/dashboard/user/' + ${id} + '/blog/new'}" role="button" style="margin-top: 0.5rem;">Add new blog</a>
            <form class="form-inline" th:action="@{'/dashboard/user/' + ${id} + '/blog/changeblog'}" method="post" >
                <select class="form-control" name='selectedblog' id="bloglist">
                    <option th:each="blog : ${blogs}"
                            th:value="${blog.title}"
                            th:text="${blog.title}"
                    >value
                    </option>
                </select>
                <button type="submit" class="btn btn-primary" th:if="${not #lists.isEmpty(blogs)}">Change</button>
                <button type="button" class="btn btn-primary disabled" id="dbutton" disabled="disabled" th:if="${#lists.isEmpty(blogs)}">Change</button>
            </form>

            <div class="alert alert-info" th:if="${#lists.isEmpty(blogs)}">
                <p>Blog list is empty. Add a blog to display it</p>
            </div>

            <div class="alert alert-success" th:if="${issaved == true}">
                <p>Blog has been successfully saved</p>
            </div>

            <div class="alert alert-danger" th:if="${exist == true}">
                <p>Blog already exist</p>
            </div>

            <div class="alert alert-success" th:if="${changed == true}">
                <p>Current blog has been successfully changed</p>
            </div>

            <div class="alert alert-success" th:if="${deleted == true}">
                <p>Blog has been successfully deleted</p>
            </div>

            <div class="table-responsive" th:if="${not #lists.isEmpty(blogs)}">
                <table class="table table-hover" id="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Title</th>
                        <th>Date created</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tr th:each="blog : ${blogs}">
                        <td th:text="${blog.title}"></td>
                        <td th:text="${blog.dateCreated}"></td>
                        <td><a href="#" th:href="@{'/dashboard/user/' + ${id} + '/blog/' + ${blog.id} + '/edit'}">Edit</a></td>
                        <td><a href="#" th:href="@{'/dashboard/user/' + ${id} + '/blog/' + ${blog.id} + '/delete'}">Remove</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var v = document.getElementById('bloglist');
    if (v.text == undefined) {
        document.getElementById('dbutton').disabled = true;
    }
    function init() {
        var message = /*[[${currentblog}]]*/ 'default';
        var element = document.getElementById("bloglist");
        console.log(message);
        element.value = message;
    }
    window.onload = init;
</script>

<script>
    function init() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("table");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    window.onload = init;
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
